<!DOCTYPE html>
<html lang="ko">

<head>
    <script  
        src="http://code.jquery.com/jquery-3.3.1.js"  
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  
        crossorigin="anonymous">
    </script>        
        
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>WordCount WebPage</title>
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">about</a></li>
        <li role="presentation"><a href="#">result</a></li>
    </ul>

    <div class="page-header">
        <h1>글자 세기! <small>멋사 과제 made by 김종민</small></h1>
    </div>

    <a href="{%url 'about'%}">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        자세히 알아보기
    </a>

    <br>

    <form action="{%url 'result'%}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br><br>
        <button type="submit" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> submit
        </button>
        
    </form>
</body>
